<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>

<hr />
<%= link_to "Add Note", new_account_path %>
<h3>Your Notes</h3>
<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= account.name %>: <%= account.note %> | <%= link_to 'Edit', edit_account_path(account) %> | <%= link_to 'Delete', account, method: :delete %> |
    </li>
  <% end %>
</ul>