<h1>New Note</h1>
<%= form_with(model: @account, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <%= f.submit %>
<% end %>